@import 'common';


#banner{
 	width:100%;height: 470px; position: relative;z-index: 9;
	
 	>.imgList {
 		>li{
 			width:100%;height: 470px;
 			position: absolute;
	        left:0;
	        top:0;
	        a{	display:block;overflow:hidden;
	        	img{width:100%;height: 470px;}
	        }
 		} 
	       
	}
  
	>.btn {
	        position:absolute;
	        top: 50%;
	        margin-top:-30px;
	        width: 30px;
	        height: 60px;
	        line-height:60px;
	        background:rgba(0, 0, 0, 0.5);
	        font-size:40px;
	        color: #fff;
	        text-align:center;
	        display: none;
	    }
	.left {
	        left: 320px;
	    }
	.right {
	        right: 200px;
	    } 
	>.indexList{
		position: absolute;left:50%;bottom: 5px;z-index: 30;
		li{float: left;margin-right: 5px;padding: 2px 4px;border: 2px solid black;background: grey;cursor: pointer;}
		.indexOn{background: red;font-weight: bold;color: white;}

	}
}

#banner:hover .btn {
	        display: block;
	        cursor: pointer;
	    }

#container{
	.center{
		height:100%;
		>h1{
			margin:15px;
			span:last-child{
				opacity:0.6;
			}
		}
		>.box1{
			padding-top: 20px;
	   		height: 335px;
	    	overflow:hidden;
	    	>.box1-R{float: right;width:270px;}
			>.box1-L{
				float: left;width: 910px;
				>.box1-1{
					height: 40px;line-height: 40px;text-align:center;
					>div{
						float:left;border-bottom:3px solid #ccc;
						>a{padding:0 107px;font-size:20px;}
					}
					
				}
				>.box1-2{
					position: relative;margin-top:5px;
					>div{
						position: absolute;left:0;top:0;
						a{
							height: 260px;display:inline-block;margin-right:5px;border:1px solid #ccc;
							img{width:210px;height: 250px}
						}
					}
				}
			}
		}
		>.box3{
			margin-top:30px;
			>.box3-1{
				height: 46px;border-bottom:1px solid #ccc;
				>span{font-size:30px;width:120px;}
			}
			>.box3-2{
				margin-top:10px;overflow:hidden;
				>.box3-left{width:340px;height: 555px;float:left;}
				>.box3-right{
					height: 555px;width:840px;float:right;position: relative;z-index:10;overflow:hidden;
					>.box3-r1{
						height:36px;border-bottom:2px solid #f0f0f0;
						>span{
							font-size:16px;line-height: 36px;width:150px;padding:0 30px;
						}
					}
					>.box3-r11{
						overflow:hidden;height:555px;
						>.box3-r2{
							position: absolute;left:0;top:40px;margin-top:10px;
						}
						>.box3-r3{
							position: absolute;left:0;top:40px;
							display:none;
							a{
								width:220px;height:250px;display:inline-block;
								text-align: center;border:1px solid #ccc;margin:4px 20px;
							}
						}
					}					
				}
			}
		}
		>.box4{
			margin-top:20px;height: 380px;
			>.box_left{border:1px solid #ccc;
				float: left;height: 370px;width:230px;
				>ul{
					overflow:hidden;
					>li{float:left;}
					>li:hover{
						background:#FF4B7E;
						a{color:white;}
					}
				}
				>.box_left_top{
					height:188px;padding:16px 0 0 3px;border-bottom:1px dotted #ccc;
					>li{border:1px solid #ccc;margin:3px;
						width:67px;height: 34px;text-align:center;
						>a{
							 font-size:14px;line-height: 34px;
						}
					}
				}
				>.box_left_bottom{
					width:200px;height:125px;margin:20px auto;border:1px solid #ccc;
					position:relative;overflow: hidden;
					>ul{
						position:absolute;top:0;left:0;overflow:hidden;
						li{
							float:left;
							>a{
								padding-top:5px;
								img{display:block;}
							}
							
						}
					}
				}	

			}
			>.box_mid{
				position:relative;width:390px;height:370px;overflow: hidden;float:left;margin-left:5px;
				>ul{
					position:absolute;top:0;left:0;overflow:hidden;
					>li{
						float:left;
						img{display:block;}
					}
				}				
			}
			>.box_right{
				width:560px;height: 380px;margin: 0 auto;float:right;
				>.spbq{
					width:270px;height:180px;
					float: left;margin:5px;
					position: relative;
					overflow: hidden;
					>.biankuang{
						width: 3px;
						height: 3px;
						position: absolute;
						z-index: 99;
						border-radius:10px;
					}
					>.biankuang_1{
						height: 0px;
						top: 0px;
						left:0px;
						border-left: 3px solid #EB5858;
					}
					>.biankuang_2 {
						width: 0px;
						bottom:0px;
						left: 0px;
						border-top: 3px solid #EB5858;
					}
					>.biankuang_3{
						height: 0px;
						bottom:0px;
						right:0px;
						border-right: 3px solid #EB5858;
					}
					>.biankuang_4{
						width:0px;
						top:0px;
						right:0px;
						border-bottom: 3px solid #EB5858;
					}
				}
			}
		}
	}
	
}
